{% extends "base.html" %} 
{% block title %}
<title>J-pop Recommender</title>
{% endblock %} 
{% block content %}
    <div class="container">
        <header>Jpopify</header>
        <p>Jpopify is a tool for getting recommendations based on your favorite J-Pop Songs.</p>
        <p> You can naviage to Similar Songs Finder to search for songs.</p>
        <p> You can also have us generate J-Pop playlists for you based on your mood.</p>
    </div>
    <div class="container">
        <input type="hidden" id="hidden_token">
        <header>How Are You Feeling?</header>
        {% if moods %}
        <div class="grid">
            {% for mood in moods %}
                <div class="mood">
                    <a href="{% url 'moodtracks' mood  %}">
                        <p class="{{mood}}">{{mood}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
