{% extends "base.html" %} 
{% block title %}
<title>J-pop Recommender</title>
{% endblock %} 
{% block content %}
</head>
<body>
    <div class="container">
        <header>Songs Generated Based on Your Mood</header>
        {% if tracks %}
            {% for track in tracks %}
            <div class="song-cards">
            <p class="text-left">{{ forloop.counter }}. {{ track.name }} - {{ track.artists.0.name }}</p>
                <div class="grid-container">
                    <img src="{{ track.album.images.0.url }}" alt="" height="100" width="100">
                    <div class="button-container">
                        {% if track.preview_url %}
                        <div>
                        <input type="button" class="playbutton bottom" onclick='playAudio("{{ track.preview_url }}")' value="" title="Play a preview">
                        </div>
                        {% else %}
                        {% load static %}
                        <div class="nabutton bottom"></div>
                        {% endif %}
                        <div>
                        <a href="{{ track.external_urls.spotify }}" target="_blank"><button class="spotifybutton"></button></a>
                        </div>
                        <form class="youtubebutton" data-title="{{ track.name }}" data-artist="{{ track.artists.0.name }}" method="post">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endblock %} 