{% extends "base.html" %} 
{% block title %}
<title>J-pop Recommender</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %} 
{% block content %}
</head>
<body>
    <div class="container">
        <div class="search-container">
        <header>Similar Songs Generator</header>
        <div class="search_wrapper">
            <div class="child">
                <form class="search-form" action="{% url 'searchtracks' %}" method="get" autocomplete="off">
                    <input name="q" type="text" id="search-field" placeholder="Search..." />
                </form>
            </div>
            <div class="dropdown child">
                <button class="dropbtn">Song</button>
                <div id="myDropdown" class="dropdown-content" data-type="track">
                  <a data-type="track">Song</a>
                  <a data-type="artist">Artist</a>
                  <a data-type="genre">Genre</a>
                </div>
            </div>
            <div class="child">
                <button type="reset" id="btn_submit">Generate</button>    
            </div>    
        </div>
        <div id="search-results" data-returned="false">
            {% if tracks %}
            {% for track in tracks %}
            <div class="song-cards">
                <div class="grid-container">
                    <div class="child">
                        <img src="{{ track.album.images.0.url }}" alt="" height="100" width="100">
                    </div>
                    <div class="child center">
                    <p>{{ track.name }} - {{ track.artists.0.name }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if artists %}
            {% for artist in artists %}
            <div class="song-cards">
                <div class="grid-container">
                    <div class="child">
                        <img src="{{ artist.images.0.url }}" alt="" height="100" width="100">
                    </div>
                    <div class="child center">
                    <p>{{ artist.name }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if genres %}
            {% for genre in genres %}
            <div class="song-cards">
                <div class="grid-container">
                    <div class="child center">
                    <p>{{ genre }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    </div>
    {% endblock %} 
