{% extends "base.html" %} 
{% block title %}
<title>J-pop Recommender</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %} 
{% block content %}
</head>
<body>
    <div class="container">
        <div class="search-container">
        <header>Similar Songs Generator</header>
        <p>Select up to 5 combinations of songs, artists, and genres.</p>
        <div class="seed-list"> 
            <template>
                <div id="search-keyword" data-is-track="", data-name-track="", data-name-artist="",
                data-track-id="", data-artist-id="", data-genre-name=""></div>
            </template>
        </div>
        <div class="search_wrapper">
            <div class="child">
                <!-- <form class="search-form" action="{% url 'searchtracks' %}" method="get" autocomplete="off"> -->
                    <input class="search-form" name="q" type="text" id="search-field" placeholder="Search..." />
                <!-- </form> -->
            </div>
            <div class="dropdown child">
                <button name="dropdownbtn" class="dropbtn">Song</button>
                <div id="myDropdown" class="dropdown-content" data-type="track">
                  <a data-type="track">Song</a>
                  <a data-type="artist">Artist</a>
                  <a data-type="genre">Genre</a>
                </div>
            </div>
            <div class="child">
                <button type="reset" id="btn_submit">Generate</button>    
            </div>    
        </div>
        <div id="search-results" data-returned="false">
            {% if tracks %}
            {% for track in tracks %}
            <div name="songcard" class="song-cards" data-is-track="track", data-name-track="{{ track.name }}", data-name-artist="{{ track.artists.0.name }}", 
            data-track-id="{{ track.id }}", data-artist-id="{{ track.artists.0.id }}">
                <div class="grid-container">
                    <div class="child">
                        <img src="{{ track.album.images.0.url }}" alt="" height="100" width="100">
                    </div>
                    <div class="child center">
                    <p>{{ track.name }} - {{ track.artists.0.name }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if artists %}
            {% for artist in artists %}
            <div class="song-cards" data-is-track="artist", data-name-artist="{{ artist.name }}", 
            data-artist-id="{{ artist.id }}">
                <div class="grid-container">
                    <div class="child">
                        <img src="{{ artist.images.0.url }}" alt="" height="100" width="100">
                    </div>
                    <div class="child center">
                    <p>{{ artist.name }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if genres %}
            {% for genre in genres %}
            <div class="song-cards" data-is-track="genre", data-name-genre="{{ genre }}">
                <div class="grid-container">
                    <div class="child center">
                    <p>{{ genre }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    </div>
    {% endblock %} 
