body {
  background-color: #333;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: #d2f8d2;
}

.search_wrapper {
  display: flex;
  justify-content: center;  
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  align-items: center;
}

input {
  font-size: 1rem;
}

.song-cards {
  display: grid;
  align-items: center;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  font-size: 1rem;
  text-orientation: upright;
}

.title {
  font-size: large;
  font-weight: bold;
}

.artist {
  font-size: smaller;
  font-style: italic;
}

div.songinfo {
  display: inline-flex;
}

div.song {
  margin-top: 10px;
}

#recommendations .card {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  margin: 0.2rem;
  font-size: 1.2rem;
  text-orientation: upright;
}

#btn_submit {
  width: 140px;
  height: 40px;
  margin-top: 10px;
}

#selected_songs {
  margin-top: 20px;
}

.mouseover {
  background-color: lightgreen;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 60%;
}

.playbutton {
  background: url(images/playbutton.png) no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: none;
}

.nabutton {
  background: url(images/notavailablebutton.png) no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: none;
}


.spotifybutton {
  background: url(images/spotifybutton.png) no-repeat;
  background-size: contain;
  height: 50px;
  width: 100px;
  margin: 10px;
  border: none;
}

.youtubebutton {
  background: url(~/core/images/youtubebutton.png) no-repeat;
  background-size: 40px;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  border: none;
}


.label {
  max-width: fit-content;
  height: 20px;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-orientation: upright;
  margin-right: 10px;
  border-radius: 50%;
}

span.label:hover {
  background-color: red;
}

.inactive {
  opacity: 0%;
}

.active {
  background-color: #04AA6D;
}

.card > img {
  margin: 0px 5px 0px 0px;
}

.card > text {
  font-size: 0.8rem;
  margin-bottom: 40%;
}

.hide {
  display: none;
}

header {
  text-align: center;
  margin: 30px;
  font-size: 2rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

li {
  float: left;
}

li a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #111;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

p {
  text-align: center;
}

.text-left {
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  position: relative;
}

.bottom {
  /* position:absolute; */
  bottom: 0;
}

.right {
  position:absolute;
  left: 170px;
}

.grid {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mood {
  position: relative;
  text-align: center;
  color: white;
  font-weight: 900;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: white;
}

.Happy {
  background: url(images/Happy.png) no-repeat;
  background-size: 200px;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: none;
  color: rgb(251, 227, 49);
}

.Sad {
  background: url(images/Sad.png) no-repeat;
  background-size: 200px;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: none;
  color: rgb(110, 110, 207);
}

.Relaxed {
  background: url(images/Relaxed.png) no-repeat;
  background-size: 200px;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: none;
  color: beige;
}

.Anxious {
  background: url(images/Anxious.png) no-repeat;
  background-size: 200px;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: none;
  color: lightgoldenrodyellow;
}

.Angry {
  background: url(images/Angry.png) no-repeat;
  background-size: 200px;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: none;
  color: red;
}

.Nostalgic {
  background: url(images/Nostalgic.png) no-repeat;
  opacity: 0.6;
  background-size: 200px;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: none;
  color:rgb(0, 0, 0);
}

.Bored {
  background: url(images/Bored.png) no-repeat;
  background-size: 200px;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: none;
  color: rgb(214, 214, 214);
}

.Lonely {
  background: url(images/Lonely.png) no-repeat;
  background-size: 200px;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: none;
  color: black;
}
